.weather {
  margin-bottom: 5px;
  font-size: 1.5vw;
  font-weight: 500;
  text-shadow: 0px 3px 3px black;
}
.clock {
  margin-bottom: 40px;
}
.clock__text {
  font-size: 7.5vw;
  font-weight: 700;
  overflow: hidden;
  text-shadow: 0px 5px 5px black;
}
.name {
  font-size: 3vw;
}
/* .name__form {
} */
.name__form > input {
  width: 25vw;
  padding: 15px;
  font-size: 1.5vw;
  border: none;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 10px white;
  outline: none;
  color: white;
}
.name__form > input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.name__greetings {
  font-size: 2vw;
  font-weight: 500;
  text-shadow: 0px 3px 3px black;
}
